
export OS_AUTH_URL="###OS_AUTH_URL###""
export OS_TENANT_ID="###OS_TENANT_ID###"
export OS_TENANT_NAME="###OS_TENANT_NAME###"
export OS_USERNAME="###OS_USERNAME###"

# With Keystone you pass the keystone password.
echo "Please enter your OpenStack Password for user $OS_USERNAME: "
read -sr OS_PASSWORD_INPUT
export OS_PASSWORD=$OS_PASSWORD_INPUT

export OS_IDENTITY_API_VERSION="###OS_IDENTITY_API_VERSION###"

