

export OPENSTACK_RC_FILE="<YOUR VALUE HERE>"
export OPENSTACK_FLAVOR="<YOUR VALUE HERE>"
export OPENSTACK_NETWORK="<YOUR VALUE HERE>"
export OPENSTACK_IMAGE="<YOUR VALUE HERE>"
export OPENSTACK_SECURITY_GROUP="<YOUR VALUE HERE>"
export OPENSTACK_SSH_USER="<YOUR VALUE HERE>"
export OPENSTACK_SSH_KEY_FILE="<YOUR VALUE HERE>"
export OPENSTACK_SSH_KEY_NAME="<YOUR VALUE HERE>"
